<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<configSections>
		<!-- Configuração de logging. -->
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
	</configSections>

	<appSettings>
		<!-- https://apps.twitter.com/app/new -->
		<add key="consumerKey" value="B3m7AODR803Fd7DgVVKqHanWu" />
		<add key="consumerSecret" value="AknYRRalOZoYy3fWT6x292yk2sdkbNr1brapWFl1UnJkuWDSaq" />

		<add key="NomeSistema" value="UpperCash" />
		<add key="VersaoSistema" value="2.1" />
		<add key="Status" value="Instalado" />
		<add key="ServerSideViewState" value="True" />
		<add key="ViewStateStore" value="Session" />
		<add key="ViewStateTableSize" value="150" />
	</appSettings>

	<connectionStrings>
		<add name="SQLConnection" connectionString="Data Source=ME002014;User Id=meappuser;Password=meappuser;Initial Catalog=UpperCash;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
				<arg key="configType" value="FILE-WATCH"/>
				<arg key="configFile" value="Content/log4net.xml"/>
			</factoryAdapter>
		</logging>
	</common>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime maxRequestLength="102400"/>
		<customErrors mode="Off"/>

		<pages validateRequest="false" />
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="2880"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>

	<location path="Instalar.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Content/images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Content/js">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

</configuration>